.navbar-default
{
  background-color: #D1D1D1;
}
.active
{
  background-color: #E6E6E6;
}
.fake-body
{
  padding-top: 70px;
  padding-left: 10px;
  padding-right: 10px;
}
.jumbotron
{
  background-color: #D1D1D1;  
}
.jumbotron:hover .cyber
{
  display: none;
}
.jumbotron .saiba
{
  font-family: "Yu Gothic";
  display: none;
}
.jumbotron:hover .saiba
{
  display: inline;
}
.mint
{
  color:#A7FCD0;
}
.panel-heading
{
  background-color:#D1D1D1 !important;
}
.panel-default
{
  border-color: #D1D1D1;
}
.panel-footer
{
  background-color: white;
}
.panel-footer .btn
{
  background-color: #D1D1D1;
  color: white;
}
.panel-footer .btn:hover
{
  background-color: white;
  color: #D1D1D1;
  border: 2px solid #D1D1D1;
}
.btn a
{
  text-decoration: none;
}