.navbar-default
{
  background-color: gray;
  color: black !important;
}
ul.navbar.nav
{
  height: 60px;
  color: black;
}
.nav a
{
  color: black;
}
.active
{
  background-color: #E6E6E6;
}
.jumbotron
{
  background-color: gray;  
}
.jumbotron:hover .cyber
{
  display: none;
}
.jumbotron .saiba
{
  font-family: "Yu Gothic";
  display: none;
}
.jumbotron:hover .saiba
{
  display: inline;
}
.mint
{
  color:#A7FCD0;
}
.panel-heading
{
  background-color:gray !important;
}
.panel-default
{
  border-color: gray;
}
.panel-footer
{
  background-color: white;
}
.panel-footer .btn
{
  background-color: gray;
  color: white;
}
.panel-footer .btn:hover
{
  background-color: white;
  color: gray;
  border: 2px solid #A7FCD0;
}
.btn a
{
  text-decoration: none;
}
footer
{
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: gray;
  color: white;
  width: 100%;
}
.fake-body
{
  padding-top: 70px;
  padding-left: 10px;
  padding-right: 10px;
}
#projects
{
  padding-top: 75px;
}
#photography
{
  padding-top: 75px;
}
.black-icon
{
  color: black;
}
.black-icon:hover
{
  color: #A7FCD0 !important;
}
.navbar-default .navbar-nav>li>a
{
  color: black;
}